<header>
	<% if (locals.user) { %>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Coding Ninja Placement cell</a>
			<a class="navbar-brand" href="/">Welcome <%=locals.user.name%></a>
			<form class="d-flex px-4">
				<a class="navbar-brand p-2" href="/company/home">Companies</a>
				<a class="navbar-brand p-2" href="/users/download-csv">Download in CSV</a>
				<a class="navbar-brand p-2" href="/users/signout" style="background-color: red; border-radius: 5px">Sign out</a>
			</form>
		</div>
	</nav>
	<% } %>
</header>
